<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>alipay_webtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PayAction</display-name>
    <servlet-name>PayAction</servlet-name>
    <servlet-class>com.alipay.action.PayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayAction</servlet-name>
    <url-pattern>/PayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotifyAction</display-name>
    <servlet-name>NotifyAction</servlet-name>
    <servlet-class>com.alipay.action.NotifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyAction</servlet-name>
    <url-pattern>/NotifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnAction</display-name>
    <servlet-name>ReturnAction</servlet-name>
    <servlet-class>com.alipay.action.ReturnAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnAction</servlet-name>
    <url-pattern>/ReturnAction</url-pattern>
  </servlet-mapping>
</web-app>